1. What are data structures, and why are they important ?

Ans: Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.
                                      They are important because
a. Efficiency
b. Scalability
c. Problem solving
d. Memory management

2.  Explain the difference between mutable and immutable data types with examples?

Ans: Mutable data types can be modified after they are created, while immutable data types cannot. Mutable objects, like lists and dictionaries, allow changes to their contents.
    my_list = [1, 2, 3]
    my_list.append(4)  # Modifies the list in place
    print(my_list)  # Output: [1, 2, 3, 4]

                                Immutable data types can not be modified after they are created. Immutable datatypes such as tuples, strings does not allow changes to their contents once created.

    my_string = "Hello"
    try:
        my_string[0] = 'J'  # Attempt to modify the string
    except TypeError:
        print("Strings are immutable")

3. What are the main differences between lists and tuples in Python ?

Ans: a. List are mutable but tuples are immutable.

     b. We use [] for list and () for tuples.

     c. List are more flexible but tuples are less flexible.
     
     d. We use list when data needs to be changed but we use tuple when data should stay constant.

4. Describe how dictionaries store data ?

Ans: Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format.

5. Why might you use a set instead of a list in Python ?

Ans: A set in Python is an unordered collection of unique elements, while a list is an ordered collection that allows duplicate elements. There are some reasons listed below :      
a. Ensuring uniqueness

b. Efficient Membership Testing

c. Set operations

d. Removing duplicates

6. What is a string in Python, and how is it different from a list ?

Ans: A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything.Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

7.  How do tuples ensure data integrity in Python ?

Ans: Tuples ensure data integrity in Python through their immutability. Once a tuple is created, its contents cannot be changed, added, or removed. This characteristic prevents accidental or unauthorized modification of the data, ensuring that the information remains consistent throughout the program's execution. This immutability makes tuples suitable for storing data that should not be altered, such as database connection settings or application configuration parameters.

8. What is a hash table, and how does it relate to dictionaries in Python ?

Ans: A hash table is a data structure that stores key-value pairs, implementing an associative array or dictionary. It uses a hash function to compute an index or "hash" into an array of buckets or slots, from which the desired value can be looked up. The hash function transforms the key into an integer, which corresponds to a position in the table where the value is stored. This allows for efficient data retrieval, insertion, and deletion operations, often achieving average-case time complexity of O(1).
In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key using its built-in hash() function. This hash value determines the index where the value will be stored within the dictionary's underlying hash table. When retrieving a value, Python again calculates the hash of the key and uses it to quickly locate the corresponding value.

9. Can lists contain different data types in Python ?

Ans: Yes, lists in Python can contain elements of different data types. Python lists are quite flexible and allow for the storage of a heterogeneous collection of items. This means a single list can hold integers, strings, floats, booleans, and even other lists or data structures, all at the same time.

10.  Explain why strings are immutable in Python ?

Ans: Strings in Python are immutable because of design choices that prioritize efficiency, thread safety, and their suitability as dictionary keys. Immutability ensures that once a string is created, its value remains constant throughout its lifetime. Any operation that appears to modify a string actually results in the creation of a new string object.

There are several advantages are listed below :      

a. Efficiency

b. Thread safety

c. Dictionary keys

11. What advantages do dictionaries offer over lists for certain tasks ?

Ans: Dictionaries in Python offer fast data retrieval, Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

12.  Describe a scenario where using a tuple would be preferable over a list ?

Ans: Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13.  How do sets handle duplicate values in Python ?

Ans: Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, Python automatically ignores it, ensuring that the set contains only distinct elements. This behavior makes sets a useful tool for tasks such as removing duplicates from a list or checking for the presence of unique items.

14. How does the “in” keyword work differently for lists and dictionaries ?

Ans: the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple? Explain why or why not ?

Ans: No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable data structures, meaning their elements cannot be changed after they are created. Attempting to assign a new value to an element within a tuple will raise a TypeError.

16. What is a nested dictionary, and give an example of its use case?

Ans: A nested dictionary in Python is a dictionary whose values are themselves dictionaries. This allows for a hierarchical structure, where you can organize data into multiple levels of key-value pairs. A common use case is storing information with a hierarchical structure, like employee records organized by department.

17.  Describe the time complexity of accessing elements in a dictionary ?

Ans: The time complexity of accessing an element in a dictionary (also known as a hash table or associative array) is typically O(1), meaning it takes constant time regardless of the dictionary's size. This is because dictionaries use hashing to map keys to their corresponding values, allowing for direct access to the desired value in a single step.

18. In what situations are lists preferred over dictionaries ?

Ans: For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

Ans: A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python, dictionaries did not preserve insertion order at all.

20. Explain the difference between a list and a dictionary in terms of data retrieval ?

Ans: In terms of data retrieval, a dictionary excels at fast lookups by key, while a list is better suited for sequential access by index. Dictionaries use a hash-based approach, allowing for nearly instantaneous retrieval of a value when the key is known, whereas lists require traversing the list sequentially until the desired element is found.

# ***PRACTICAL QUESTIONS***

In [1]:
# 1. Write a code to create a string with your name and print it.

name = "Ayush"

print(name)

Ayush

In [2]:
# 2. Write a code to find the length of the string "Hello World".

len("Hello World")

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase.

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

numbers=[1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [11]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [16]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [20]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [21]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [22]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [23]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [24]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [25]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [27]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
has_city = 'city' in person
print(has_city)

True

In [29]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 28, 'city': 'London'}

# Printing them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 28, 'city': 'London'}

In [30]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[47, 50, 54, 58, 73]

In [31]:
# 28. Write a code to create a list with strings and print the element at the third index

words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

In [32]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine dictionaries
combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
# 30. Write a code to convert a list of strings into a set.

string_list = ['apple', 'banana', 'cherry', 'apple']
string_set = set(string_list)
print(string_set)

{'apple', 'cherry', 'banana'}